<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Registro e Inicio de Sesión</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!--Registro-->
            <div class="col-6">
                <h2>Registro Usuario</h2>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/register" method="POST">
                    <div>
                        <label>Nombre</label>
                        <input type="text" name="first_name" class="form-control">
                    </div>
                    <div>
                        <label >Apellido</label>
                        <input type="text" name="last_name" class="form-control">
                    </div>
                    <div>
                        <label >Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div>
                        <label >Contraseña</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <div>
                        <label >Confirmación </label>
                        <input type="password" name="confirm" class="form-control">
                    </div>
                    <input type="submit" value="Registrarme" class="btn btn-info mt-3">
                </form>
            </div>
            <div class="col-6">
                <h2>Inicio de sesión</h2>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p> {{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <form action="/login" method="POST">
                    <div>
                        <label> E-mail:</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <input type="submit" value="Iniciar sesión" class="btn btn-primary m-3">
                </form>
            </div>
        </div>
    </div>
</body>
</html>